---
---

<h1>About</h1>
<p>
  Hi! I am a software engineer from Singapore with a passion to learn new
  technologies and work on projects. I also loves to practice solving coding
  problems from sites such as Leetcode. Other than programming, I also like to
  play video games such as League Of Legends & Maplestory.
</p>
