---
import SocialList from "./SocialList.astro";
---

<h1>Contact</h1>
<div class="flex flex-col items-center gap-5">
  <p>Feel free to reach out to me at any time!</p>
  <p>aloysiustanrs@gmail.com</p>
  <a class="underline" href="/resume"> Click here to see my resume!</a>
  <SocialList />
</div>
