---
---

<div class="flex justify-between">
  <div class="flex flex-col justify-center">
    <p class="text-4xl font-bold pb-4">Aloysius Tan</p>
    <h2>Software Engineer</h2>
  </div>

  <img
    src="/profile.jpg"
    class="border-solid border-2 border-gray-500 rounded-full w-44 h-44"
    alt="Aloysius Tan"
  />
</div>
