---
import NavigationLink from "./NavigationLink.astro";
import Logo from "./Logo.astro";
---

<nav class="pt-4">
  <Logo />
  <div class="float-right">
    <NavigationLink href="/projects">Projects</NavigationLink>
    <NavigationLink href="/blog">Blog</NavigationLink>
  </div>
</nav>
