---
import NavigationLink from "./NavigationLink.astro";
import Name from "./Name.astro";
---

<header>
  <nav class="w-full flex">
    <Name />
    <div class="">
      <NavigationLink href="/projects">Projects</NavigationLink>
      <NavigationLink href="/blog">Blog</NavigationLink>
    </div>
  </nav>
</header>
